certifi==2019.3.9
chardet==3.0.4
Django==2.2.14
django-countries==5.3.3
django-crispy-forms==1.7.2
pep8==1.7.1
Pillow==9.2.0
pycodestyle==2.5.0
python-decouple==3.1
pytz==2018.5
sqlparse==0.2.4
urllib3==1.24.2
